/* Estilo del navbar */
.navbar {
  width: 100%;
  height: 60px; /* Altura del navbar */
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Esto distribuye los elementos a los extremos */
  position: fixed;
  top: 0;
  z-index: 1100; /* Asegura que el navbar esté encima de otros elementos */
  padding: 0 20px; /* Espaciado a los lados */
}

/* Estilo del botón con el ícono */
.navbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Estilo del texto en el navbar */
.navbar-text {
  color: #F5F5F5;
  font-size: 1.2rem;
  text-align: center; /* Alinea el texto al centro */
  flex-grow: 1; /* Asegura que el texto esté centrado */
}
