/* home.css - Si es necesario, usa estilos específicos para la página de inicio aquí */
body {
  display: flex;
  justify-content: flex-start; /* Para asegurar que el contenido se alinee al principio */
  margin: 0;
}

img {
  width: 100%; /* Ajuste para pantallas pequeñas, la imagen ocupará todo el ancho */
  max-width: 100%; /* Asegura que la imagen no sobrepase el 100% del ancho */
  height: auto;
}

.products {
  text-align: center;
  font-size: 40px;
  color: #86ecec;
  width: calc(100% - 250px); /* Solo aplica este cálculo cuando el sidebar está visible */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .products {
    width: 100%;
    font-size: 30px;
    justify-content: center;
  }
}

/* Media query para pantallas grandes */
@media (min-width: 769px) {
  img {
    width: calc(100% - 250px); /* Solo aplica este cálculo cuando el sidebar está visible */
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  img {
    width: 100%; /* En pantallas pequeñas, la imagen ocupa todo el ancho */
    margin-top: 70px;
  }
}