/* src/components/ContactSupport.css */

.contact-support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    text-align: center;
    color: #000000; /* Color de texto del navbar-text */
  }
  
  .contact-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #003392; /* Texto blanco para el título */
  }
   
  .contact-info {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .contact-detail {
    color: #000000; /* Azul claro del tema */
  }