.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  font-size: 14px;

  z-index: 1100;
  position: relative;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li {
  margin: 0;
}

.footer-links a {
  color: #1e90ff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root-container {
  position: relative;
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  flex: 1; /* Asegura que el contenido principal ocupe el espacio disponible */

}

