.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

@media (min-width: 769px) {
  .products-container {
    width: calc(100% - 250px);
  }
}

@media (max-width: 768px) {
  .products-container {
    width: 100%;
  }

  .product-card {
    width: 100px;
    padding: 5px;
    font-size: 0.8rem;
  }

  .product-card img {
    width: 50%;
    height: auto;
  }

  .product-card h3 {
    font-size: 0.9rem;
    margin: 3px 0;
  }

  .product-card .price {
    font-size: 1rem;
  }

  .product-card .shipping {
    font-size: 0.7rem;
  }

  .product-card .description {
    display: none;
  }
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #EFEFEF;
  width: 200px;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 75%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #9e8600; /* FFD700 */
}

.product-card .price {
  font-size: 1.4rem;
  color: #007c7c; /* 86ecec */
  font-weight: bold;
}

.product-card .shipping {
  font-size: 1rem;
  color: #979797;
  margin-top: 5px;
}

.product-card .description {
  font-size: 0.9rem;
  color: #646464; /* c7c7c7 */
  margin-top: 5px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
