/* Estilos para el contenedor de detalles del producto */
.product-detail-page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.product-detail {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    gap: 30px;
}

.product-image-container {
    width: 40%;
    padding-left: 20px;
}

.product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    border: 2px solid #FFD700; /* Dorado para el borde de la imagen */
}

.product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EFEFEF; /* 1e1e1e */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.product-title {
    font-size: 2rem;
    font-weight: 600;
    color: #9e8600 !important; /* FFD700 */
}

.product-description {
    font-size: 1.1rem;
    color: #646464; /* c7c7c7 */
}

.product-price,
.product-shipping,
.product-size,
.product-weight {
    font-size: 1.1rem;
    font-weight: 500;
    color: #007c7c; /* 86ecec */
}

.product-price strong,
.product-shipping strong,
.product-size strong,
.product-weight strong {
    font-weight: bold;
    color: #9e8600; /* Dorado para resaltar la información más importante */
}

.product-shipping {
    color: #696969; /* Gris oscuro para el envío */
}

.product-size,
.product-weight {
    color: #B0C4DE; /* Gris claro azulado para tamaño y peso */
}

.add-to-cart-btn {
    background-color: #3CB371; /* Color verde hierba */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #2E8B57;
}

.add-to-cart-btn:focus {
    outline: none;
}
