/* Estilo general para el fondo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c3e50; /* Color del título del login */
    height: 100vh; /* Aseguramos que el body ocupe toda la altura */
}

/* Contenedor de la página de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo general para el login */
.login {
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9; /* Fondo del contenedor */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    display: flex;
    flex-direction: column; /* Alineación de los elementos en columna */
    align-items: stretch; /* Los elementos ocupan todo el ancho del contenedor */
    justify-content: center;
}

/* Título del login */
.login h3 {
    color: #2c3e50; /* Color del título */
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
.square_login input {
    width: 100%;
    padding: 12px;
    margin: 10px 0; /* Asegura margen uniforme arriba y abajo */
    border: 1px solid #2c3e50; /* Bordes oscuros */
    border-radius: 5px;
    font-size: 1rem;
    color: #2c3e50; /* Texto oscuro */
    background-color: #ecf0f1; /* Fondo claro */
    transition: all 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del campo */
}

/* Ajustes para los campos de entrada dentro de un contenedor */
.square_login {
    display: flex;
    flex-direction: column; /* Asegura que los inputs estén alineados verticalmente */
    align-items: stretch; /* Los campos ocuparán todo el ancho disponible */
    justify-content: center;
}

/* Efecto de enfoque (focus) en los campos de entrada */
.square_login input:focus {
    border-color: #39C5BB; /* Bordes cian al hacer foco */
    background-color: #ffffff; /* Fondo blanco al hacer foco */
    outline: none;
}

/* Estilo para el botón */
.login button {
    width: 100%;
    padding: 12px;
    background-color: #39C5BB; /* Fondo cian */
    border: none;
    border-radius: 4px;
    color: white; /* Texto blanco */
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del botón */
}

/* Efecto de hover en el botón */
.login button:hover {
    background-color: #16A085; /* Fondo verde oscuro al pasar el cursor */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .login {
        width: 90%;
        padding: 30px;
    }

    .login h3 {
        font-size: 1.5rem;
    }

    .square_login input {
        padding: 10px;
    }

    .login button {
        font-size: 1rem;
        padding: 10px;
    }
}
