/* Estilo general para el fondo de la página */
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Aseguramos que el body ocupe toda la altura */
}

/* Contenedor de la página de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo general para el login */
.login {

    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título del login */
.login h3 {
    color: #003392;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
.square_login input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #2c3e50; /* Bordes oscuros para un buen contraste */
    border-radius: 5px;
    font-size: 1rem;
   
    color: #000000; /* Texto oscuro */
    transition: all 0.3s ease;
}

/* Efecto de enfoque (focus) en los campos de entrada */
.square_login input:focus {
    border-color: #003392; /* Bordes turquesa al hacer foco */
    background-color: #000000; /* Fondo blanco al hacer foco */
    outline: none;
}

/* Estilo para el botón */
.login button {
    width: 100%;
    padding: 12px;
    background-color: #003392; /* Botón con el color de fondo */
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto de hover en el botón */
.login button:hover {
    background-color: #003392; /* Cambia el verde a un tono más oscuro al pasar el ratón */
}

/* Estilo para los párrafos dentro del formulario */
.square_login p {
    color: #000000;
    font-size: 1rem;
    margin: 10px 0;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .login {
        width: 90%;
        padding: 30px;
    }

    .login h3 {
        font-size: 1.5rem;
    }

    .square_login input {
        padding: 10px;
    }

    .login button {
        font-size: 1rem;
        padding: 10px;
    }
}
